extends ../../templates/uikit-page/uikit-page
include ../../components/text-field/text-field
include ../../components/subscription-form/subscription-form
include ../../components/dropdown/dropdown
include ../../components/input-container/input-container
include ../../components/dates-block/dates-block
include ../../components/checkbox/checkbox
include ../../components/checkbox-list/checkbox-list

block variables
 - var title = 'Form Elements';

block main
  .form-elements-container
    .form-elements-container__column
      +input-container({label: 'Text field', tip: 'Default'})
        +text-field({type: 'email', id: 'uikit-text-default', placeholder: 'Email', name: "uikit-email", rq: true, autocomplete: 'on'})
      +input-container({label: 'Text field', tip: 'Hover / Focus'})
        +text-field({type: 'text', id: 'uikit-text-hovfocus', value: 'This is pretty awesome', focusedView: true, rq: true})
      +input-container({label: 'Dropdown', tip: 'Default'})
        +dropdown({id: 'uikit-iqdropdown-guests', dropdownType: 'guests'})
      +input-container({label: 'Masked text field', tip: 'Default'})
        +text-field({id: 'uikit-text-masked', placeholder: 'ДД.ММ.ГГГГ', mask: 'birthday-mask'})
      +dates-block({uikitBlockLabels: 'Date dropdown', idBase: 'uikit-dates-block'})
    .form-elements-container__column
      +input-container({label: 'Filter date dropdown'})
        +dropdown({id: 'uikit-date-range', dropdownType: 'range-date'})
      +input-container({label: 'Subscription text field'})
        +subscription-form({id: 'uikit-subscription', placeholder: 'Email'})
      +input-container({label: 'Dropdown'})
        +dropdown({id: 'uikit-iqdropdown-room-features', dropdownType: 'room-features'})
      +checkbox-list('uikit-rich-cb-btns', 'Rich checkbox buttons', false,
        {label: 'Широкий коридор', desc: 'Ширина коридоров в номере <span class="nowrap">не менее 91 см.</span>'},
        {label: 'Помощник для инвалидов', desc: 'На 1 этаже вас встретит специалист <span class="nowrap">и проводит</span> до номера'})
      +checkbox-list('uikit-cb-btns', 'Checkbox buttons', false,
        {label: 'Можно курить'},
        {label: 'Можно с питомцами'},
        {label: 'Можно пригласить гостей <span class="nowrap">(до 10 человек)</span>'})
      +checkbox-list('uikit-expandable-cb-list', 'Expandable checkbox list', true,
        {label: 'Завтрак'},
        {label: 'Письменный стол'},
        {label: 'Стул для кормления'},
        {label: 'Кроватка'},
        {label: 'Телевизор'},
        {label: 'Шампунь'})
    .form-elements-container__column

