extends ../../templates/uikit-page/uikit-page
include ../../components/input-container/input-container

block variables
 - var title = 'Form Elements';

block main
  +input-container({label: 'Text field', tip: 'Default', id: 'uikit-text-default', placeholder: 'Email'})
  +input-container({label: 'Text field', tip: 'Hover / Focus', id: 'uikit-text-hovfocus', value: 'This is pretty awesome', focusedView: true})
  +input-container({label: 'Masked text field', tip: 'Default', id: 'date-mask1', placeholder: 'ДД.ММ.ГГГГ', mask: 'date-mask'})
  +input-container({label: 'Masked text field', tip: 'Default', id: 'date-mask2', placeholder: 'ДД.ММ.ГГГГ', mask: 'date-mask'})
  +input-container({label: 'Subscription text field', id: 'uikit-subscription', placeholder: 'Email', function: 'subscription'})
