include ../text-field/text-field

mixin dropdown(params)
  - var baseClass = 'dropdown'
  - var classes = [baseClass]
  - var title
  - var placeholder = params.placeholder

  case params.dropdownType
    when 'range-date'
      - classes.push(baseClass + '--range-date')
      - title = 'Выберите даты'
      - placeholder = 'Выберите даты'
    when 'separated-date'
      - classes.push(baseClass + '--separated-date')
      - title = 'Выберите даты'
    when 'room-features'
      - classes.push(baseClass + '--room-features')
      - title = 'Выберите удобства'
      - placeholder = 'Удобства'
    when 'guests'
      - classes.push(baseClass + '--guests')
      - title = 'Введите количество гостей'
      - placeholder = 'Сколько гостей'
  label(class=classes, title=title)
    +text-field({id: params.id, name: params.name, placeholder: placeholder, rightSpace: true, ro: true, rq: true, autocomplete: "off", dropdown: true})
