.labeled-type {
  display: flex;
  box-sizing: border-box;
  align-items: top;

  &__label {
    margin: 0;
    font-family: 'Montserrat', Helvetica , Arial, sans-serif;
    font-weight: normal;
    width: 4rem;
    min-width: 4rem;
    text-align: right;
    color: rgba(#1f2041, 0.25);
  }

  &__content {
    margin: 0;
    margin-left: 3rem;
    font-size: inherit;
  }
}
