//- Using example: +rate-button('rate-button-id')

mixin rate-button(id)
  - var n = 1;
  fieldset.rate-button
    while n <= 5
      input(type='radio', id=id + '-' + n, name=id, value=n)
      label.rate-button__star(for=id + '-' + n++)


