extends ../../templates/common.pug

block variables
 - var title = 'Colors and type';
 - var pageClass = 'uikit-page'

block header
  include ../../components/uikit-header/uikit-header

block content
  p Colors palette
