extends ../../templates/form-card/form-card
include ../../components/dates-block/dates-block
include ../../components/input-container/input-container
include ../../components/dropdown/dropdown
include ../../components/submit-button/submit-button

block variables
  - var formTitle = 'Найдём номера под ваши пожелания'
  - var formName = 'sch-room-form'
  - var formAction = 'URL'
block main
  .form-card__section
    +dates-block({idBase: 'sch-room-form__dates'})
  .form-card__section
    +input-container({label: 'Гости', for: 'sch-room-form__guests'})
      +dropdown({dropdownType: 'guests', id: 'sch-room-forn__guests', name: 'sch-room-form__guests'})
  .form-card__footer
    +submit-button('Подобрать номер')
