// Import Fonts here

//Quicksand
@font-face {
	font-family: "Quicksand";
	src: url('./Quicksand/Quicksand-Regular.eot');
  src: local("Quicksand-Regular"),
       url('./Quicksand/Quicksand-Regular.woff') format('woff'),
       url('./Quicksand/Quicksand-Regular.ttf') format('truetype'),
       url('./Quicksand/Quicksand-Regular.otf') format('opentype'),
       url('./Quicksand/Quicksand-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Quicksand";
	src: url('./Quicksand/Quicksand-Bold.eot');
  src: local("Quicksand-Bold"),
       url('./Quicksand/Quicksand-Bold.woff') format('woff'),
       url('./Quicksand/Quicksand-Bold.ttf') format('truetype'),
       url('./Quicksand/Quicksand-Bold.otf') format('opentype'),
       url('./Quicksand/Quicksand-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

//Opensans
@font-face {
	font-family: "OpenSans";
	src: url('./OpenSans/OpenSans-Regular.eot');
  src: local("OpenSans-Regular"),
       url('./OpenSans/OpenSans-Regular.woff') format('woff'),
       url('./OpenSans/OpenSans-Regular.ttf') format('truetype'),
       url('./OpenSans/OpenSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url('./OpenSans/OpenSans-Bold.eot');
  src: local("OpenSans-Bold"),
       url('./OpenSans/OpenSans-Bold.woff') format('woff'),
       url('./OpenSans/OpenSans-Bold.ttf') format('truetype'),
       url('./OpenSans/OpenSans-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url('./OpenSans/OpenSans-Italic.eot');
  src: local("OpenSans-Italic"),
       url('./OpenSans/OpenSans-Italic.woff') format('woff'),
       url('./OpenSans/OpenSans-Italic.ttf') format('truetype'),
       url('./OpenSans/OpenSans-Italic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "OpenSans";
	src: url('./OpenSans/OpenSans-BoldItalic.eot');
  src: local("OpenSans-BoldItalic"),
       url('./OpenSans/OpenSans-BoldItalic.woff') format('woff'),
       url('./OpenSans/OpenSans-BoldItalic.ttf') format('truetype'),
       url('./OpenSans/OpenSans-BoldItalic.svg') format('svg');
	font-weight: bold;
	font-style: italic;
}

//Montserrat
@font-face {
	font-family: "Montserrat";
	src: url('./Montserrat/Montserrat-Regular.eot');
  src: local("Montserrat-Refular"),
       url('./Montserrat/Montserrat-Regular.woff') format('woff'),
       url('./Montserrat/Montserrat-Regular.ttf') format('truetype'),
       url('./Montserrat/Montserrat-Regular.otf') format('opentype'),
       url('./Montserrat/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url('./Montserrat/Montserrat-SemiBold.eot');
  src: local("Montserrat-SemiBold"),
       url('./Montserrat/Montserrat-SemiBold.woff') format('woff'),
       url('./Montserrat/Montserrat-SemiBold.ttf') format('truetype'),
       url('./Montserrat/Montserrat-SemiBold.otf') format('opentype'),
       url('./Montserrat/Montserrat-SemiBold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url('./Montserrat/Montserrat-Italic.eot');
  src: local("Montserrat-Italic"),
       url('./Montserrat/Montserrat-Italic.woff') format('woff'),
       url('./Montserrat/Montserrat-Italic.ttf') format('truetype'),
       url('./Montserrat/Montserrat-Italic.otf') format('opentype'),
       url('./Montserrat/Montserrat-Italic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Montserrat";
	src: url('./Montserrat/Montserrat-SemiBoldItalic.eot');
  src: local("Montserrat-SemiBoldItalic"),
       url('./Montserrat/Montserrat-SemiBoldItalic.woff') format('woff'),
       url('./Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype'),
       url('./Montserrat/Montserrat-SemiBoldItalic.otf') format('opentype'),
       url('./Montserrat/Montserrat-SemiBoldItalic.svg') format('svg');
	font-weight: bold;
	font-style: italic;
}

//Material Icons
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./MaterialIcons/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('./MaterialIcons/MaterialIcons-Regular.woff2') format('woff2'),
       url('./MaterialIcons/MaterialIcons-Regular.woff') format('woff'),
       url('./MaterialIcons/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
