//- Using example: +like-button(likes(number))

mixin like-button(value)

  a.like-button(href='javascript:void(0);')
    .like-button__icons-container
      i.material-icons.like-button__icon.like-button__icon--disabled!= 'favorite_border'
      i.material-icons.like-button__icon.like-button__icon--active!= 'favorite'
    .like-button__value-container
      span.like-button__value!= value ? value : '0'
