include ../input-container/input-container
include ../dropdown/dropdown


//- Using example: +dates-block({idBase: 'Beggining part of id of both checkin and checkout fields', uikitBlockLabels: boolean (optional)})

mixin dates-block(params)
  - var labelCheckin = 'Прибытие'
  - var labelCheckout = 'Выезд'
  - var idCheckin = params.idBase + '-checkin'
  - var idCheckout = params.idBase + '-checkout'
  if (params.uikitBlockLabels)
    - labelCheckin = 'Date dropdown'
    - labelCheckout = 'Date dropdown'

  .dates-block
    .dates-block__date
      +input-container({label: labelCheckin, for: idCheckin, static: true})
        +dropdown({id: idCheckin, name: idCheckin, placeholder: "ДД.ММ.ГГГГ", dropdownType: 'separated-date'})
    .dates-block__date
      +input-container({label: labelCheckout, for: idCheckout})
        +dropdown({id: idCheckout, name: idCheckout, placeholder: "ДД.ММ.ГГГГ", dropdownType: 'separated-date-pair'})
