include ../input-container/input-container

mixin dates-block(params)
  - var labelCheckin = 'Прибытие'
  - var labelCheckout = 'Выезд'
  - var idCheckin = params.id + '-checkin'
  - var idCheckout = params.id + '-checkout'
  if (params.uikitBlock)
    - labelCheckin = 'Date dropdown'
    - labelCheckout = 'Date dropdown'

  .dates-block
    .dates-block__checkin-date
      +input-container({label: labelCheckin, id: idCheckin, placeholder: "ДД.ММ.ГГГГ", inputType: 'date-dropdown', dateType: 'separated'})
    .dates-block__checkout-date
      +input-container({label: labelCheckout, id: idCheckout, placeholder: "ДД.ММ.ГГГГ", inputType: 'date-dropdown'})
