include ../input-container/input-container
include ../dropdown/dropdown

mixin dates-block(params)
  - var labelCheckin = 'Прибытие'
  - var labelCheckout = 'Выезд'
  - var idCheckin = params.idBase + '-checkin'
  - var idCheckout = params.idBase + '-checkout'
  if (params.uikitBlockLabels)
    - labelCheckin = params.uikitBlockLabels
    - labelCheckout = params.uikitBlockLabels

  .dates-block
    .dates-block__checkin-date
      +input-container({label: labelCheckin, static: true})
        +dropdown({id: idCheckin, placeholder: "ДД.ММ.ГГГГ", dropdownType: 'separated-date'})
    .dates-block__checkout-date
      +input-container({label: labelCheckout})
        +dropdown({id: idCheckout, placeholder: "ДД.ММ.ГГГГ", dropdownType: 'separated-date-pair'})
