include ../../components/toxin-icon/toxin-icon

block variables

- var classes = ['uikit-page']
if (darkBg)
  - classes.push('uikit-page--dark-bg')

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title #{title}

  body(class=classes)
    .uikit-page__logo
      +toxin-icon({})
    main.uikit-page__main
      block main

