.color-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__tile {
    width: 7rem;
    height: 7rem;
    min-width: 7rem;
    border-radius: 0.6rem;
    background-color: lightgray;
  }

  &__info {
    font-family: 'Montserrat', Helvetica , Arial, sans-serif;
    font-size: 1.9rem;
    line-height: 2.9rem;
    color: #1f2041;
    margin-left: 4rem;
  }

  &__title {
    font-size: 1.9rem;
    font-weight: bold;
    margin: 0;
  }

  &__code {
    text-transform: uppercase;
    margin: 0;
  }

  @media (max-width: 768px) {
    &__info {
      margin-left: 3rem;
    }
  }
}
