include ../checkbox/checkbox
include ../toggle-button/toggle-button

//- Using example: +checkbox-list({id: 'idPrefix', title: 'List title', items: [
  {label: 'cb-label', name: 'cb-name', checked: boolean(optional), desc: 'description'(optional)}
//- ]})

mixin checkbox-list(params)
  - var classes = ['checkbox-list']

  if params.expandable
    - classes.push('checkbox-list--expandable')

  fieldset(class=classes)
    legend.checkbox-list__title!= params.title
    ul.checkbox-list__container
      each checkbox in params.items
        li.checkbox-list__item
          +checkbox({id: params.id + `-${checkbox.name}`, label: checkbox.label, name: checkbox.name, checked: checkbox.checked, desc: checkbox.desc})
