//- Using example: +radio-button({id: 'radio-button-id', name: 'radio-buttons-group-name', value: 'radio-button-value', label: 'radio-button-label'})

mixin radio-button(params)

  label.radio-button
    input.radio-button__input(id = params.id, type="radio", name= params.name, value=params.value)
    span.radio-button__box
    span.radio-button__label!= params.label
