.feature {
  display: flex;
  width: 100%;
  max-width: 28rem;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  padding-bottom: 2rem;

  &__logo {
    width: 4.8rem;
    height: 4.8rem;
  }

  &__icon {
    color: #bc9cff;
    font-size: 4.8rem;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background: -moz-linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
  }

  &__info {
    margin-left: 1rem;
    line-height: 2.4rem;
  }

  &__title,
  &__desc{
    margin: 0;
    font-size: 1.4rem;
  }

  &__title {
    font-weight: bold;
  }
}
