.input-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  width: 100%;
  max-width: 32rem;
  box-sizing: border-box;

  &--static {
    position: static;
  }

  &__label,
  &__tip {
    display: block;
    padding: 0;
    font-family: 'Montserrat', Helvetica , Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
	  color: #1f2041;
  }

  &__label{
    flex-grow: 1;
  }

  &__tip {
    font-weight: normal;
    color: rgba(#1f2041, 0.5);
    text-align: right;
  }

  &__input {
    width: 100%;
    margin-top: 0.5rem;
    box-sizing: border-box;
  }
}
