
mixin input-container(params)
  - var classes = ['input-container']

  if (params.static)
    - classes.push('input-container--static')

  label(class=classes)
    if (params.label)
      .input-container__label= params.label
    if (params.tip)
      span.input-container__tip= params.tip
    .input-container__input
      block
