//- Using example: +input-container({label:'Label text', for: 'input id', tip: 'tip'(optional)})
//-                   +block

mixin input-container(params)
  - var classes = ['input-container']

  if (params.static)
    - classes.push('input-container--static')

  div(class=classes)
    if (params.label)
      label.input-container__label(for=params.for)= params.label
    if (params.tip)
      span.input-container__tip= params.tip
    .input-container__input
      block
