include ../text-field/text-field
include ../subscription-form/subscription-form

mixin input-container(params)

  .input-container
    if (params.label)
      label.input-container__label(for=params.id)= params.label
    if (params.tip)
      span.input-container__tip= params.tip
    .input-container__input
      case params.function
        when 'subscription'
          +subscription-form({id: params.id, placeholder: params.placeholder, value: params.value, focusedView: params.focusedView, mask: params.mask})
        default
          +text-field({id: params.id, placeholder: params.placeholder, value: params.value, focusedView: params.focusedView, mask: params.mask, type: params.type})
