include ../text-field/text-field
include ../subscription-form/subscription-form
include ../dropdown/dropdown

mixin input-container(params)
  - var classes = []
  if (params.inputType == 'range-date')
    - classes.push('input-container--relative')

  .input-container(class=classes)
    if (params.label)
      label.input-container__label(for=params.id)= params.label
    if (params.tip)
      span.input-container__tip= params.tip
    .input-container__input
      case params.inputType
        when 'subscription'
          +subscription-form({id: params.id, placeholder: params.placeholder, value: params.value, focusedView: params.focusedView, mask: params.mask})
        when 'range-date'
        when 'separated-date'
        when 'separated-date-pair'
          +dropdown({id: params.id, placeholder: params.placeholder, value: params.value, focusedView: params.focusedView, mask: params.mask, dropdownType: params.inputType})
        default
          +text-field({id: params.id, placeholder: params.placeholder, value: params.value, focusedView: params.focusedView, mask: params.mask, type: params.type, ro: params.ro, rq: params.rq})
