include ../feature/feature

//- Using example: +feature-list([{icon: 'material_icon-name', title: 'Feature title', desc: 'Feature description'},
//-                              {icon: 'material_icon-name2', title: 'Feature2 title', desc: 'Feature2 description'}])

mixin features-list(items)

  ul.features-list
    each item in items
      li.features-list__item
        +feature(item)
