.checkbox {
  position: relative;
  font-family: 'Montserrat', Helvetica , Arial, sans-serif;
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 2rem;
  max-width: 32rem;
  user-select: none;
  color: rgba(31, 32, 65, 0.5);

  &--rich {
    font-weight: bold;
    color: rgba(31, 32, 65, 0.75);
  }

  &__input {
    position: absolute;
    appearance: none;

    &:checked + .checkbox__box {
      border: 1px solid #bc9cff;

      &::before {
        opacity: 1;
      }
    }
  }

  &__box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 2rem;
    height: 2rem;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 0.4rem;

    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      width: 0.6rem;
      height: 0.8rem;
      margin-bottom: 10%;
      border-width: 0 0.2rem 0.2rem 0;
      border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-image-slice: 1;
      border-color: transparent;
      border-style: solid;
      opacity: 0;
      transform: rotate(45deg);
      transition: opacity 0.2s ease-out, border-image 0.2s ease-out;
    }
  }


  &__label {
    display: block;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding-top: 0.1rem;
    margin: 0;
    margin-left: 3rem;
  }

  &__description {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.5);
    margin: 0;
    margin-top: 0.6rem;
    margin-left: 3rem;
  }
}
