//- Using example: +link-button({text: 'Button text', linkTo: 'Link directs to', theme: 'primary/secondary', headerButton: boolean(button for menu in header)})

mixin link-button(params)
  - var baseClass = 'link-button'
  - var classes = [baseClass]

  case params.theme
    when 'primary'
      - classes.push(baseClass + '--theme--primary')
    when 'secondary'
      - classes.push(baseClass + '--theme--secondary')

  if params.headerButton
    - classes.push(baseClass + '--header')

  a(class=classes, href=params.linkTo)
    span.link-button__text!=params.text
