// Types mixes
.title {
  font-family: 'Montserrat', Helvetica , Arial, sans-serif;
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: bold;
  color: #1f2041;
}

.item-title {
  font-family: 'Montserrat', Helvetica , Arial, sans-serif;
  font-size: 1.9rem;
  line-height: 2.4rem;
  font-weight: bold;
  color: #1f2041;
}

.label-or-cta {
  font-family: 'Montserrat', Helvetica , Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
	color: #1f2041;
}
