//Window size beakpoints
$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

//Colors
$main-color              : #1f2041;
$purple-color            : #bc9cff;
$blue-color              : #8ba4f9;
$green-color             : #6fcf97;
$lightblue-color         : #66d2ea;

//Gradients
$primary-gradient        : linear-gradient(180deg, #bc9cff, #8ba4f9);
$secondary-gradient      : linear-gradient(180deg, #6fcf97, #66d2ea);


//Fonts
$mainFont                : 'Montserrat', Helvetica , Arial, sans-serif;
$mainFontColor           : rgba($main-color, 0.75);
$mainFontSize            : 14px;
$mainFontWeight          : normal;
$mainLineHeight          : 24px;
