//Window size beakpoints
$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

//Colors
$darkshade-color         : #1f2041;
$purple-color            : #bc9cff;
$green-color             : #6fcf97;
$blue-color              : #66d2ea;

//Fonts
$mainFont                : 'Montserrat', Helvetica , Arial, sans-serif;
$mainFontColor           : rgba($darkshade-color, 0.75);
$mainFontSize            : 14px;
$mainFontWeight          : normal;
$mainLineHeight          : 24px;
