extends ../../../templates/uikit-page/uikit-page

block variables
  - var title = 'Cards';
  - var darkBg = true;

block main
  include ../../../forms/sch-room-form/sch-room-form
  include ../../../forms/sign-up-form/sign-up-form
  include ../../../forms/sign-in-form/sign-in-form
  include ../../../forms/room-booking-card/room-booking-card
  .datepicker-here
