@import './assets/fonts/fonts.scss';
@import './assets/vars.scss';

html {
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  line-height: $mainLineHeight;
	color: $mainFontColor;
}

body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

