@import './assets/fonts/fonts.scss';
@import './assets/vars.scss';
@import './assets/mixins.scss';

html {
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  line-height: $mainLineHeight;
	color: $mainFontColor;
}


