.text-field {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 1px solid rgba(#1f2041, 0.25);
  border-radius: 0.4rem;
  color: rgba(#1f2041, 0.75);
  font-family: 'Montserrat', Helvetica , Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;

  &::placeholder {
    color: rgba(#1f2041, 0.25);
  }

  &:focus{
    outline: none;
    box-shadow: none;
  }

  &:hover,
  &:focus,
  &--focused {
    border-color: rgba(#1f2041, 0.5);
  }

  &--right-space {
    padding-right: calc(4.2rem + 2px);
  }

  &--dropdown {
    cursor: pointer;
    &::placeholder {
      color: rgba(31, 32, 65, 0.75);
    }
  }

  &--no-radius {
    border-radius: 0.4rem 0.4rem 0 0;
  }
}
